<% content_for :title do %>
  Enter Information - School Directory
<% end %>

<h3>Add your directory information</h3>
<form action="/data" method="post">
  <label for="firstname">First name: </label>
  <input name="firstname" type="text" id="firstname"><br>

  <label for="lastname">Last name: </label>
  <input name="lastname" type="text" id="lastname"><br>

  <input type="submit" value="Submit"> 
</form>
